client_secret_file
.vscode/     
.idea/       
pipfile.lock
.venv
gen-lang-client-0308490624-498c561275d3.json
config.private.ini
venv
herinenv
site-packages
.herinenv
node_modules
config.ini
bb4-django-62bbd3b3c1ae.json
bb4_django\bb4app\__pycache__
bb4_django\bb4main\__pycache__
__pycache__
*.pyc
*.pyo
temp_image.jpg
C:\Users\Admin\Desktop\Development\Projects--deployed\bb4\bb4_django\gen-lang-client-0945355309-90284933dc5b.json
C:\Users\Admin\Desktop\Development\Projects--deployed\bb4\bb4_django\config.ini
db.sqlite3
client_secret_13679971103-8pmsi7ec03vssg6qlqd82fji6t2u57mt.apps.googleusercontent.com.json
config.ini