/* Navbar styles */
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 1px 5px var(--secondary-color);
    position: relative;
  }
  
  .navbar .nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  /* Brand logo or name styles */
  .brand {
    width: 120px;
  }
  
  /* Navigation links styles */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links button {
    background: none;
    color: var(--secondary-color);
    border: 0;
    outline: 0;
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
  }
  
  .nav-links li {
    margin-right: 20px;
    font-weight: 700;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 15px;
    transition: 0.3s;
  }
  
  .nav-links li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }

  header .navbar .nav-links #dropdown-li .dropdown-content{
    display: none;

  }
  
  #menu-icon {
    display: none;
  }
  
  header .navbar .sidebar{
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Style the dropdown links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;}

  /* Show the dropdown content when hovering over dropdown */
  #dropdown-li:hover .dropdown-content {
    display: block;
  }
  
  

  /* Media Query for Responsive Navbar */
  @media (max-width: 750px) {
  
    #menu-icon{
        display: block;
        border: 0;
        outline: 0;
        padding: 15px;
        background: none;
        color: var(--secondary-color);
        font-size: 22px;
        font-weight: 1000;
    }

    #cancel-icon{
        display: block;
        border: 0;
        outline: 0;
        padding: 15px;
        background: red;
        color: var(--primary-color);
        font-size: 22px;
        font-weight: 1000;
        position: absolute;
        right: 0;
        top: 0px;
        border-bottom-left-radius: 15px;

    }

    header .navbar .nav-links{
        display: none;
    }

    header .navbar .sidebar{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 35px;
        position: absolute;
        right: -100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        top: 0%;
        /* background: blue; */
        background: var(--primary-color);
        padding: 25px;
        height: 90vh;
        z-index: 300;
        transition: 0.3s;
    }
    header .navbar .sidebar li a{
       color: var(--secondary-color);
       /* color: var(--primary-color); */
       text-decoration: none;
       font-weight: 600;
       font-size: 20px;
    }
    header .navbar .sidebar li a:hover{
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: 700;
        padding: 5px 15px;
        border-radius: 15px;
        transition: 0.3s;
    }

    header .navbar .sidebar li a:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
      }
  }