.add{
 font-family: 'Times New Roman', Times, serif;   
 font-weight: bold;   
}

a{
    font-family: 'Times New Roman', Times, serif;   
    font-weight: bold;   
    
}

button{
    border-color: aquamarine;
}