<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <form action="{% url 'chatbot' %}" method="post">
        {% csrf_token %}
        <label for="user-input">Your message:</label><br>
        <input type="text" name="user-input" id="user-input" placeholder="Type your message here" autofocus><br><br>
        <button type="submit">Send</button>
    </form>
    {% if response %}
    <h2>Chatbot Response</h2>
    <p>{{ response }}</p>
    {% endif %}

    <script>
        function record() {
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "en-GB";

            recognition.onresult = function (event) {
                console.log(event);
                document.getElementById("user-input").value = event.results[0][0].transcript;
            }
            recognition.start();
        }
    </script>
</body>
</html>
