<div class="chatbot-container">
    {% extends "layout.html" %}
    
    {% block body %}
    
    <div class="chatbot-interface">
         <!-- Chatbot Interface -->
         <h2>Chatbot</h2>
         <!-- Form for user input -->
         <form class="chatbot-form" action="{% url 'chatbot' %}" method="post">
             {% csrf_token %}
               <!-- Input field for user messages -->
             <input type="text" name="user-input" id="user-input" placeholder="Type your message here" autofocus><br><br>
             <!-- Button to submit user message -->
             <button type="submit">Send</button>
         </form>
     
         <!-- Display Chatbot Response -->
         <div class="chatbot-response">
            {% if response %}
            <h2>Chatbot Response</h2>
            <!-- Display chatbot response -->
            <p>{{ response }}</p>
            {% endif %}
         </div>
    </div>
       

        <!-- JavaScript for Voice Input -->
    <script>
        // Function to record voice input
        function record() {
            // Create a new SpeechRecognition object
            var recognition = new webkitSpeechRecognition();
            // Set language for speech recognition
            recognition.lang = "en-GB";

            // Event handler for recognition result
            recognition.onresult = function (event) {
                // Log recognition event
                console.log(event);
                // Set the value of user-input field to the transcribed speech
                document.getElementById("user-input").value = event.results[0][0].transcript;
            }
            // Start speech recognition
            recognition.start();
        }
    </script>

{% endblock %}

</div>



    