<div class="landing-page-container">
  {% extends "layout.html" %} {% block body %}

  <section id="homepage-sec1">
    <div class="col">
      <h2>Simplify Expiration Tracking for Compliance Needs</h2>
      <p>
        Streamline the way you track expiration dates for your internal &
        external workforce. Enjoy automatic reminders and clear oversight of
        upcoming expirations, ensuring compliance and peace of mind with
        up-to-date records.
      </p>
    </div>
  </section>

  {% endblock %}
</div>
