<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <!--TARAL ADD NAVBAR & ALL FRONTEND HERE NOT IN BLOCK BODY & END BLOCK........MI >>>>CSK FOREVER  -->
    {% block body %}



    

    
    {% endblock %}

    <a name = "add" id = "add" href="/add">add food</a>
    <br>
    <a href="/view">view my food</a>    
    

</body>
</html>