{% load i18n %}
{% load allauth account %}
{% load socialaccount %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  

    
    <title>Document</title>
</head>
<body>

     <!---->
    <!--TARAL ADD NAVBAR & ALL FRONTEND HERE NOT IN BLOCK BODY & END BLOCK........MI >>>>CSK FOREVER  -->
    {% block body %}



    

    
    {% endblock %} 
     {% if user.is_authenticated == False %}

    <h1>You have logged Out</h1>
    <a href="{% provider_login_url 'google' %}">{% trans "Sign In Via Google" %}</a>
     
    {% endif %}



    {% if user.is_authenticated %}
    <a name = "/add" id = "add" href="/add">add food</a>
    <br>
    <a href="/view">view my food</a>    
    <a href="/chat">Chat with bot</a>    
  
    <a href="/">Home</a> 
    <p>You are signed in as {{ user.email }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
       
{% endif %}
    

</body>
</html>