<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label for="speech"></label>
    <input type="text" name="speech" id="speechtotext" placeholder="speak something" onclick=record()>
    <script>
        function record() {
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "en-GB";

            recognition.onresult = function (event) {
                console.log(event);
                document.getElementById("speechtotext").value = event.results[0][0].transcript;
            }
            recognition.start();

        }
    </script>










</body>

</html>